<html>
<head>
  <title>="Блоги"</title>
  <meta charset="utf-8" />
  style
   include blog.css
body
header
    a (href="URL")= Главная 
    a (href="URL")= Статьи 
    a (href="URL")= Контакты 
aside
    a (href="URL") Коты 
    a (href="URL") Слоны 
    div (class="soderj")
    h2 Информация о слонах 
    p Средний вес самца африканского слона — около 4 тонн. Самый большой зафиксированный вес — 7,5 тонн. 
    p Длина хобота взрослой особи в среднем — около 2 метров.
    p Бивни могут достигать 2,5 метров.
    h3 20.09.2024
footer
    h3 Copyright
    h3 Контактная информация: ogooff@gmail.com

