html 
<body>
    <h1> Задачи </h1>
    <form (action="/dobav", method="POST")>
      input(type="text" class="task-input")
      button(type="submit") Добавить
      </form>
      button(type="submit") Удалить
      button(button style="margin-left: 30px;" type="submit") Выполнено
</body> 